body {
    background-color: rgb(10, 14, 20);
    background-size: cover;
    background-blend-mode: multiply;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    margin: 0;
    padding: 0;
    overflow: auto;
    max-height: 1500px;
    overflow-x: hidden;
    scroll-behavior: smooth;

}


.Load_Item {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}



#NavigationBar {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    display: flex;
    flex-direction: row;
    color: white;
    /*color: #8c8c8c;*/
    z-index: 300;
    background-color: rgba(21, 28, 41, 0);
    backdrop-filter: blur(0px);
    transition: .3s;
    background: transparent;
    transition: background 0.5s ease;
}

#NavigationBar.solid {
    background: rgb(21, 28, 41);
}

a {
    text-decoration: none;
    /*color: #8c8c8c;*/
    cursor: pointer;
    color: rgb(145, 145, 145);
}

#UserPic {

    transform: scale(0.8);

}


.Name {
    /*color: rgb(103, 161, 255);*/
    color: white;
    padding-top: 0%;
    flex-basis: 39%;
    display: flex;
    left: 50%;
    text-shadow: 1px 1px 2px #000000;
    padding-left: 14%;
    cursor: default;
    font-family: Calibri;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    font-variant: small-caps;
}



#TopText {
    color: rgb(103, 161, 255);
    transition: .3s;
}



.Button {
    font-family: Calibri;
    transition: 0.3s;
    border: none;
    /*color: #969696;*/
    color: white;
    background: linear-gradient(white, white) bottom / 0 .15em no-repeat;
    padding: 25px 0px;
    font-size: 18px;
    letter-spacing: 1px;
    background-position: center bottom;
    height: 0px;
    margin: 28px;
    margin-top: 0px;
    margin-bottom: -14px;
}


.Button:hover {
    background-size: 100% .15em;
    filter: brightness(150%);
    transition: 0.4s;
    color: white;
}



.Btn {
    border: none;
    padding: 10px 10px;
    transition: 0.5s
}





/*Project Container*/

#Project_Titles {
    position: flex;
    margin-top: 150px;
}


#Title {
    position: flex;
    cursor: default;
    color: white;
    font-family: calibri;
    font-size: 50px;
    text-align: center;
    letter-spacing: 1px;
    font-variant: small-caps;

}

#Title_Secondary {
    color: rgb(103, 161, 255);
}

#Bottom_WriteUp {
    color: rgb(255, 255, 255, 0.7);
    font-family: calibri;
    cursor: default;
    letter-spacing: 1px;
    font-size: 15px;
    text-align: center;
}

#React_Img {
    border-radius: 5px;
}

#Project_Container {
    position: absolute;
    top: 350px;
    width: 100%;
    height: 5500px;
    background-color: rgba(12, 15, 22, .9);
    grid-template-columns: repeat(1, 1fr);
    /* Define the number of columns */
    grid-template-rows: repeat(6, 1fr);

}


.Proj_Container_Style {
    background-color: rgb(25, 37, 54);
    width: 700px;
    height: 500px;
    margin-bottom: 250px;
    position: relative;
    border-radius: 2px;
    box-shadow: 2px 2px 15px rgb(27, 27, 27);
    left: 50%;
    top: 100px;
    transform: translate(-50%, 0%);
    margin-left: 0px;
    margin-right: 0px;


}



.Proj_Title {
    position: relative;
    color: white;
    font-family: calibri;
    font-size: 30px;
    letter-spacing: 1px;
    font-variant: small-caps;
    top: 20px;
    margin-left: 40px;
}

.Proj_Description {
    position: relative;
    top: -50px;
    margin-left: 40px;
    color: rgb(255, 255, 255, 0.7);
    font-family: calibri;
    font-size: 16px;
    letter-spacing: 1px;
    width: 350px;
    border-right: 2px solid rgba(100, 100, 100);
    height: 70px;
    padding-top: 50px;
}

.Proj_Img {
    width: 620px;

}

.Hover_Style {
    opacity: 0;
    position: absolute;
    color: white;
    background-color: rgba(12, 15, 22, .9);
    border: 3px solid rgb(42, 63, 92);
    font-family: calibri;
    font-size: 12px;
    padding: 3px;
}

#React_Hover {
    top: 45px;
    right: 50px;
}

#JS_Hover {
    top: 45px;
    right: 80px;
}

#CSS_Hover {
    top: 45px;
    right: 155px;
}

#HTML_Hover {
    top: 45px;
    right: 192px;
}


#CSS_Comic {
    transform: scale(.1);
}


#Pixel_JS {
    transform: scale(1.3);
}


#Pixel_Peak_Container {
    position: relative;
    overflow: hidden;
    width: 620px;
    height: 300px;
    top: -40px;
    margin-left: 40px;
    overflow-y: auto;
    overflow-x: hidden;

}



#Comic_Finds_Container {
    position: relative;
    overflow: hidden;
    width: 620px;
    height: 300px;
    top: -40px;
    margin-left: 40px;
    overflow-y: auto;
    overflow-x: hidden;

}

#Number_Recog_Container {
    position: relative;
    overflow: hidden;
    width: 620px;
    height: 300px;
    top: -40px;
    margin-left: 40px;
}

#Music_WebSearch_Container {
    position: relative;
    overflow: hidden;
    width: 620px;
    height: 300px;
    top: -40px;
    margin-left: 40px;
    overflow-y: auto;
    overflow-x: hidden;
}

#Online_Notes_Container {
    position: relative;
    overflow: hidden;
    width: 620px;
    height: 300px;
    top: -40px;
    margin-left: 40px;
}

#Note_Taker_Container {
    position: relative;
    overflow: hidden;
    width: 620px;
    height: 300px;
    top: -40px;
    margin-left: 40px;

}

#Photo_Encrypter_Container {
    position: relative;
    overflow: hidden;
    width: 620px;
    height: 300px;
    top: -40px;
    margin-left: 40px;

}


#Proj_Container_Style {
    position: relative;
    overflow: hidden;
    width: 620px;
    height: 300px;
    top: -40px;
    margin-left: 40px;

}


.Language_Img {
    position: relative;
    top: -480px;
    left: 460px;
    margin-left: 5px;
    margin-right: 5px;
}

#Css_Comic {
    transform: scale(1.3);
    margin-left: 5px;
    margin-right: 5px;

}


.View_Button {
    position: relative;
    background-color: transparent;
    font-family: Calibri;
    color: white;
    border: 1px solid white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    transition: .3s;
    font-weight: bold;
    transition: border-color 0.3s ease-in-out;
    transition: .3s;
    cursor: pointer;
    top: -420px;
    left: 225px;
    margin-left: 5px;
    margin-right: 5px
}


.View_Button:hover {
    border: 1px solid rgb(103, 161, 255);
    color: rgb(103, 161, 255);
    transform: scale(1.05);

}

#Music_WebSearch_Button {
    margin-left: 25px;
}

#html_Music {
    margin-left: 30px;
}

#AI_Button {
    cursor: not-allowed;
    margin-left: 10px;
}

#AI_Button:hover {
    color: white;
    transform: scale(1);
    border: 1px solid white;
}


#Python_NoteTaker {
    margin-left: 70px;
}

#Note_Taker_Button {
    margin-left: 85px;
}

#Photo_Encypter_Button {
    margin-left: 80px;
}



#MenuButtonContainer {
    display: none;
    justify-content: right;
    z-index: 999;

}

#Menu {
    transform: scale(.6);
    cursor: pointer;
    position: fixed;
    top: 25px;
    right: 55px;
    z-index: 999;

}



#MenuButton_Menu {
    z-index: 9999;
    position: fixed;
    background-color: rgba(32, 43, 63);
    height: 100%;
    width: 65%;
    top: 0;
    right: 0;
}


.Style {
    font-size: 12px;
    font-family: Calibri;
    color: white;
    list-style: none;
    padding: 15px;
    cursor: pointer;
}

.MenuListItem {
    list-style: none;
    font-size: 16px;
}

#MenuButtonMenuContainer {
    display: none;
    animation: fadeIn 0.2s ease-in-out;

}

@keyframes fadeIn {
    from {

        transform: translatex(200px);
        /* Initial position if needed */
    }

    to {

        transform: translatex(0);
        /* Final position */
    }
}

#CloseMenuImg {
    cursor: pointer;
    transform: scale(.5);
    margin-top: -10px;
    margin-left: -20px;
}

/*Project Container*/


@media screen and (max-width: 740px) {
    .Proj_Container_Style {
        background-color: rgb(25, 37, 54);
        width: 400px;
        height: 400px;
        margin-bottom: 250px;
        position: relative;
        border-radius: 2px;
        box-shadow: 2px 2px 15px rgb(27, 27, 27);
        left: 50%;
        top: 100px;
        transform: translate(-50%, 0%);
        margin-left: 0px;
        margin-right: 0px;
    }

    .Proj_Img {
        width: 320px;

    }

    #Comic_Finds_Container {
        position: relative;
        overflow: hidden;
        width: 320px;
        height: 150px;
        top: 10px;
        margin-left: 40px;
        overflow-y: auto;
        overflow-x: hidden;

    }

    #Pixel_Peak_Container {
        position: relative;
        overflow: hidden;
        width: 320px;
        height: 150px;
        top: 10px;
        margin-left: 40px;
        overflow-y: auto;
        overflow-x: hidden;

    }


    #Number_Recog_Container {
        position: relative;
        overflow: hidden;
        width: 320px;
        height: 200px;
        top: 10px;
        margin-left: 40px;
    }

    #Music_WebSearch_Container {
        position: relative;
        overflow: hidden;
        width: 320px;
        height: 150px;
        top: 10px;
        margin-left: 40px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    #Online_Notes_Container {
        position: relative;
        overflow: hidden;
        width: 320px;
        height: 200px;
        top: 10px;
        margin-left: 40px;
    }

    #Note_Taker_Container {
        position: relative;
        overflow: hidden;
        width: 320px;
        height: 200px;
        top: 10px;
        margin-left: 40px;

    }

    #Photo_Encrypter_Container {
        position: relative;
        overflow: hidden;
        width: 320px;
        height: 200px;
        top: 10px;
        margin-left: 40px;

    }


    .View_Button {
        position: relative;
        background-color: transparent;
        font-family: Calibri;
        color: white;
        border: 1px solid white;
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
        transition: .3s;
        font-weight: bold;
        transition: border-color 0.3s ease-in-out;
        transition: .3s;
        cursor: pointer;
        top: -285px;
        left: 50px;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 12px;
    }


    #Comic_Finds_Button {
        margin-top: 95px;
        margin-left: -20px;
    }

    #Comic_View {
        margin-top: -35px;
        margin-left: 30px;
    }


    #Music_WebSearch_Button {
        margin-top: 95px;
        margin-left: -130px;
    }

    #Music_View {
        margin-top: 95px;
        margin-left: 15px;
    }


    #AI_Button {
        margin-top: 55px;
        cursor: not-allowed;
        margin-left: -140px;
    }

    #View_AI {
        margin-top: 55px;
        margin-left: 15px;
    }



    #Online_Notes_Button {
        margin-top: 45px;
        margin-left: -150px;
    }

    #View_OnlineNotes {
        margin-top: 45px;
        margin-left: 15px;
    }



    #Note_Taker_Button {
        margin-top: 45px;
        margin-left: -70px;
    }

    #View_Notetaker {
        margin-top: 45px;
        margin-left: 15px;
    }



    #Photo_Encypter_Button {
        margin-top: 45px;
        margin-left: -70px;
    }

    #View_Encrypter {
        margin-top: 45px;
        margin-left: 15px;
    }

    .Language_Img {
        position: relative;
        top: -320px;
        left: 110px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .Proj_Description {
        position: relative;
        top: -50px;
        margin-left: 40px;
        color: rgb(255, 255, 255, 0.7);
        font-family: calibri;
        font-size: 14px;
        letter-spacing: 1px;
        width: 80%;
        border-right: 0px solid rgba(100, 100, 100);
        height: 70px;
        padding-top: 50px;
    }

    #Title {
        position: flex;
        cursor: default;
        color: white;
        font-family: calibri;
        font-size: 30px;
        text-align: center;
        letter-spacing: 1px;
        font-variant: small-caps;

    }
}

@media screen and (max-width: 690px) {
    .Button {
        display: none;
    }

    .Name {
        /*color: rgb(103, 161, 255);*/
        color: white;
        padding-top: 0%;
        flex-basis: 39%;
        display: flex;
        left: 50%;
        text-shadow: 1px 1px 2px #000000;
        padding-left: 9%;
        cursor: default;
        font-family: Calibri;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 1px;
        font-variant: small-caps;
    }

    #MenuButtonContainer {
        display: flex;
        justify-content: right;
        z-index: 999;
    }

    #Menu {
        transform: scale(.5);
        cursor: pointer;
        position: fixed;
        top: 15px;
        right: 35px;
        z-index: 999;
    }

    #ButtonContainer {
        margin-top: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}